<form [formGroup]="registerForm" (ngSubmit)="onSignupSubmit()">
  <tui-island size="l" textAlign="center" [hoverable]="true">

    <h3 class="tui-island__title ">Register New Account</h3>
    <!-- <div class="header"></div> -->
    <div class="tui-island__content">

      <tui-input formControlName="email" [tuiTextfieldCleaner]="true">
        E-mail
        <input tuiTextfield type="email" />
      </tui-input>
      <tui-error formControlName="email" [error]="[] | tuiFieldError | async">
      </tui-error>

      <tui-input-password formControlName="password" class="tui-space_top-2">
        Password
        <input tuiTextfield type="text" />
      </tui-input-password>
      <tui-error formControlName="password" [error]="[] | tuiFieldError | async">
      </tui-error>

      <tui-input-password formControlName="confirmPassword" class="tui-space_top-2">
        Confirm Password
        <input tuiTextfield type="text" />
      </tui-input-password>
      <tui-error [error]="passwordMatchError">
      </tui-error>

    </div>
    <button tuiButton type="submit" appearance="flat" size="m" class="tui-island__footer-button"
      [disabled]="registerForm.invalid">
      Sign Up
    </button>
  </tui-island>

</form>
