<h2 mat-dialog-title>ลบรายการของ <strong class="has-text-info"> {{ data.product.name }}</strong>
</h2>
<mat-dialog-content class="mat-typography">

  <div class="field is-horizontal">
    <div class="field-label">
      <label class="label">รายละเอียด</label>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <input class="input" type="text" [value]="productOption.description" readonly>
        </div>

      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label">
      <label class="label">ราคาเพิ่มเติม</label>
    </div>
    <div class="field-body">
      <div class="field has-addons mb-0">
        <span class="control is-expanded">
          <input class="input" type="number" [value]="productOption.addonPrice" readonly>
        </span>
        <span class="control">
          <a class="button is-static">
            {{calculatePrice(productOption.addonPrice, data.product.price )}}
          </a>
        </span>

      </div>


    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label">
      <label class="label">สมาชิก</label>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <section *ngFor="let type of memberTypes; let i=index">
            <p>
              <mat-checkbox [value]="type.value" (change)="onCheckboxChange($event)"
                [checked]="productOption.memberTypes.indexOf(type.value) > -1">
                {{type.name}}
              </mat-checkbox>
            </p>
          </section>

        </div>
      </div>
    </div>
  </div>
  <p class="subtitle  has-text-danger is-6">คุณต้องการลบข้อมูลนี้หรือไม้?</p>


</mat-dialog-content>
<mat-dialog-actions align="end">
  <div class="field is-grouped">
    <div class="control">
      <button class="button is-danger" [mat-dialog-close]="true">
        ยืนยัน
      </button>
    </div>
    <div class="control">
      <button class="button is-light" mat-dialog-close>ยกเลิก</button>
    </div>
  </div>
</mat-dialog-actions>
