<form [formGroup]="form" (ngSubmit)="onResetSubmit()">

  <div class="tui-row tui-row_adaptive tui-row_edit">
    <div class="tui-col_xs-12 tui-col_md-6 tui-col_lg-6 tui-col_lg-6">
      <h3 class="tui-form__header tui-form__header_margin-top_none">Reset Password</h3>

      <p class="text-center">Please enter your email address to request a password reset.</p>
      <div class="tui-form__row">
        <tui-input tuiTextfieldSize="l" formControlName="email" [tuiTextfieldLabelOutside]="true">
          Email Address
          <input tuiTextfield type="email" />
        </tui-input>
        <tui-error formControlName="email" [error]="[] | tuiFieldError | async">
        </tui-error>

      </div>
      <div class="tui-form__row tui-form__row_edit">
        <button tuiButton type="submit" appearance="accent" size="m" [disabled]="form.invalid">
          Reset Password
        </button>

        <span>Go back to
          <button tuiLink [pseudo]="true" routerLink="/auth/login">
            Log In
          </button>
        </span>

      </div>

    </div>
  </div>
</form>
