<section class="section">

  <h1 class="title">ราคาวันนี้</h1>
  <h2 class="subtitle">ข้อมูลการรับซื้อสินค้า</h2>

  <!-- <progress class="progress is-small is-primary" max="100">15%</progress> -->


  <div class="card block">

    <div class="card-content">
      <div class="table-container">
        <table class="table is-fullwidth is-hoverable">
          <thead>
            <tr>
              <th class="has-text-left">รายการสินค้า</th>
              <th class="has-text-centered">ปรับเปลี่ยน</th>
              <th class="has-text-centered">ราคา</th>
            </tr>
          </thead>
          <!-- <tfoot>
            <tr class="has-text-right">
              <th colspan="3"><abbr title="Position">เวลา 1:25:32น. 7/5/2565</abbr></th>
            </tr>
          </tfoot> -->
          <tbody>
            <tr *ngFor="let product of products">
              <th class="has-text-left">
                <span> {{ product.product_name }} </span><br />
                <div *ngFor="let option of product.price_option">
                  <div *ngFor="let member of option.member_type">
                    <div *ngIf="member === memberType">
                      <span class="is-size-7 has-text-info has-background-warning">
                        {{ option.description }}
                      </span>
                    </div>
                  </div>
                </div>
              </th>
              <td class="has-text-centered">
                <span class="has-text-danger">
                  <span>{{ product.price - product.price_prev }}</span>
                </span>
              </td>
              <td class="has-text-centered">
                <span class="has-text-info">
                  <span class="">{{ product.price}}</span>
                  <br />
                  <div *ngFor="let option of product.price_option">
                    <div *ngFor="let member of option.member_type">
                      <div *ngIf="member === memberType">
                        <span class="is-size-7 has-text-info has-background-warning">
                          {{  option.addon_price + product.price }}
                        </span>
                      </div>

                    </div>

                  </div>

                </span>
              </td>
            </tr>

            <!-- <tr>
              <th class="has-text-left">
                <span> XXXX </span><br />
                <span class="is-size-7 has-text-info has-background-warning">น้ำหนัก +2000
                  กก.</span>
              </th>
              <td class="has-text-centered">
                <span class="has-text-danger">
                  <span>-0.50</span>
                </span>
              </td>
              <td class="has-text-centered">
                <span class="has-text-info">
                  <span class="">16.50</span>
                  <br />
                  <span class="is-size-7 has-text-info has-background-warning">16.70</span>
                </span>
              </td>
            </tr> -->

          </tbody>
        </table>
      </div>
    </div>
    <footer class="card-footer">
      <p class="card-footer-item">ปรับปรุงเมื่อ 2 วันที่แล้ว</p>
    </footer>
    <!-- <footer class="card-footer" *ngFor="let product of products">
      <p class="card-footer-item">{{ product.price_option }}</p>
    </footer> -->
  </div>

  <div class="notification is-warning is-light block has-text-info-dark">
    <div class="content is-normal">
      <p class="is-underlined has-text-weight-semibold">เงื่อนไขได้ราคา</p>
      <span>เกณฑ์น้ำหนักขั้นต่ำต่อวัน ตามระดับสมาชิกลูกค้า ดังนี้</span>
      <ul>
        <li>น้ำหนัก 500 กก.ขึ้นไป</li>
        <li>น้ำหนัก 450 กก.ขึ้นไป (ลูกค้าประจำ)</li>
      </ul>
    </div>
  </div>
</section>
