<!-- <nav class="navbar is-light" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item">
      <img src="assets/images/logo_tst.png" height="28" />
      &nbsp;
      <b>THAI SUTHAT</b>
    </a>


    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
      data-target="navbarBasicExample" (click)="onShowMenu()" [class.is-active]="menuActive">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>


  </div>



  <div id="navbarBasicExample" class="navbar-menu " [class.is-active]="menuActive"
    [class.navbar-menu-active]="menuActive">
    <div class="navbar-start">
      <a class="navbar-item " routerLink="/products" routerLinkActive="is-active"
        (click)="onCloseMenu()">
        Products
      </a>

      <a class="navbar-item" (click)="onTest()">
        Documentation
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          More
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item">
            About
          </a>
          <a class="navbar-item">
            Jobs
          </a>
          <a class="navbar-item">
            Contact
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            Report an issue
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary" routerLink="/auth/signup" (click)="onCloseMenu()">
            <strong>Sign up</strong>
          </a>
          <a class="button is-danger" (click)="onLogout($event)">
            <strong>Log Out</strong>
          </a>
          <a class="button is-light" routerLink="/auth/login" (click)="onCloseMenu()">
            Log in
          </a>
        </div>
      </div>
    </div>
  </div>
</nav> -->



<div class="wrapper">
  <div>
    <tui-svg src="tuiIconMenuLarge" class="menu icon"> </tui-svg>
    <!-- <tui-tabs-with-more class="tabs" [activeItemIndex]="activeItemIndex" [moreContent]="more">
      <ng-container *ngFor="let tab of tabs">
        <ng-container *ngIf="isString(tab); else submenu">
          <button *tuiItem tuiTab (click)="onClick(tab)">
            {{ tab }}
          </button>
        </ng-container>
        <ng-template #submenu>
          <tui-hosted-dropdown *tuiItem [content]="dropdown" [(open)]="open">
            <button tuiTab (tui-tab-activate)="stop($event)">
              Member
              <tui-svg src="tuiIconChevronDown" class="icon" [class.icon_rotated]="open">
              </tui-svg>
              <tui-svg src="tuiIconCloseLarge" class="icon" *ngIf="open"
                [class.icon_fade-Scale]="open">
              </tui-svg>
            </button>

          </tui-hosted-dropdown>
        </ng-template>
      </ng-container>

    </tui-tabs-with-more> -->

  </div>

  <div class="logo">

    <img src="assets/images/logo_tst.png" />
    <h3 *ngIf="!isScreenDesktop" class="tui-form__header tui-form__header_margin-top_none">
      THAI SUTHAT
    </h3>
  </div>

  <div>
    <tui-tabs-with-more class="tabs" [activeItemIndex]="activeItemIndex" [moreContent]="more"
      [underline]="!isScreenDesktop">
      <ng-container *ngIf="!isScreenDesktop">


        <ng-container *ngFor="let tab of tabs">
          <ng-container *ngIf="isString(tab); else submenu">
            <button *tuiItem tuiTab (click)="onClick(tab)">
              {{ tab }}
            </button>
          </ng-container>
          <ng-template #submenu>
            <tui-hosted-dropdown *tuiItem [content]="dropdown" [(open)]="open">
              <button tuiTab (tui-tab-activate)="stop($event)">
                Member
                <tui-svg src="tuiIconChevronDown" class="icon" [class.icon_rotated]="open">
                </tui-svg>
                <tui-svg src="tuiIconCloseLarge" class="icon" *ngIf="open"
                  [class.icon_fade-Scale]="open">
                </tui-svg>
              </button>

            </tui-hosted-dropdown>
          </ng-template>
        </ng-container>
      </ng-container>
      <ng-container>
        <tui-hosted-dropdown *tuiItem [content]="user">
          <button tuiTab (tui-tab-activate)="stop($event)">
            <tui-svg src="tuiIconUser" class="icon">
            </tui-svg>
          </button>
        </tui-hosted-dropdown>
      </ng-container>

    </tui-tabs-with-more>


  </div>



</div>

<ng-template #dropdown>
  <tui-data-list>
    <button *ngFor="let collaborator of collaborators" tuiOption (click)="onClick(collaborator)">
      {{ collaborator }}
    </button>
  </tui-data-list>
</ng-template>

<ng-template #more>
  <tui-svg src="tuiIconMoreHorLarge"></tui-svg>
</ng-template>

<ng-template #user>
  <tui-data-list>
    <button *ngFor="let menu of userMenu" tuiOption (click)="onClickUser(menu.title)">
      {{ menu.title }}
    </button>
  </tui-data-list>
</ng-template>


<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a href="#">Bulma</a></li>
    <li><a href="#">Documentation</a></li>
    <li><a href="#">Components</a></li>
    <li class="is-active"><a href="#" aria-current="page">Breadcrumb</a></li>
  </ul>
</nav>
