<nav class="navbar is-light" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item">
      <!-- <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28" /> -->
      <img src="assets/images/logo_tst.png" height="28" />
      &nbsp;
      <b>THAI SUTHAT</b>
    </a>


    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
      data-target="navbarBasicExample" (click)="onShowMenu()" [class.is-active]="menuActive">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>


    <!-- <div class="navbar-menu-x">
      <div class="navbar-menu-x-end">
        <a class="navbar-menu-x-item">Display Name</a>
      </div>
    </div> -->

  </div>



  <div id="navbarBasicExample" class="navbar-menu " [class.is-active]="menuActive"
    [class.navbar-menu-active]="menuActive">
    <div class="navbar-start">
      <a class="navbar-item " routerLink="/products" routerLinkActive="is-active"
        (click)="onCloseMenu()">
        Products
      </a>

      <a class="navbar-item">
        Documentation
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          More
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item">
            About
          </a>
          <a class="navbar-item">
            Jobs
          </a>
          <a class="navbar-item">
            Contact
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            Report an issue
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary" routerLink="/auth/signup" (click)="onCloseMenu()">
            <strong>Sign up</strong>
          </a>
          <a class="button is-danger" routerLink="/auth/signup" (click)="onCloseMenu()">
            <strong>Log Out</strong>
          </a>
          <a class="button is-light" routerLink="/auth/login" (click)="onCloseMenu()">
            Log in
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>

<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a href="#">Bulma</a></li>
    <li><a href="#">Documentation</a></li>
    <li><a href="#">Components</a></li>
    <li class="is-active"><a href="#" aria-current="page">Breadcrumb</a></li>
  </ul>
</nav>
