.navbar-menu-active{
  position:fixed;
  width:100%;
}

.breadcrumb{
  padding: 16px;
}


// .navbar-menu-x{
//   align-items: stretch;
//   display: flex;
//   flex-grow: 1;
//   flex-shrink: 0;


//    > .navbar-menu-x-end{
//     justify-content: flex-end;
//     margin-left: auto;
//     align-items: stretch;
//     display: flex;
//     >.navbar-menu-x-item{
//       color: #fff;
//       align-items: center;
//       display: flex;
//       flex-grow: 0;
//       flex-shrink: 0;
//       line-height: 1.5;
//       padding: 0.5rem 0.75rem;
//       position: relative;
//     }
//   }
// }
