<section class="section">

  <h1 class="title">ราคาวันนี้</h1>
  <h2 class="subtitle">ข้อมูลการรับซื้อสินค้า</h2>

  <progress class="progress is-small is-primary" max="100">15%</progress>


  <div class="card">
    <div class="card-content">
      <div class="table-container">
        <table class="table is-fullwidth is-hoverable">
          <thead>
            <tr>
              <th class="has-text-left">รายการสินค้า</th>
              <th class="has-text-centered">ปรับเปลี่ยน</th>
              <th class="has-text-centered">ราคา</th>
            </tr>
          </thead>
          <!-- <tfoot>
            <tr class="has-text-right">
              <th colspan="3"><abbr title="Position">เวลา 1:25:32น. 7/5/2565</abbr></th>
            </tr>
          </tfoot> -->
          <tbody>
            <tr>
              <th class="has-text-left">
                <span> เหล็กหนา </span><br />
                <span class="is-size-7 has-text-info has-background-warning">น้ำหนัก +2000
                  กก.</span>
              </th>
              <td class="has-text-centered">
                <span class="has-text-danger">
                  <span>-0.50</span>
                </span>
              </td>
              <td class="has-text-centered">
                <span class="has-text-info">
                  <span class="">16.50</span>
                  <br />
                  <span class="is-size-7 has-text-info has-background-warning">16.70</span>
                </span>
              </td>
            </tr>
            <tr>
              <th class="has-text-left">
                <span> เหล็กหนา </span><br />
                <span class="is-size-7 has-text-info has-background-warning">น้ำหนัก +2000
                  กก.</span>
              </th>
              <td class="has-text-centered">
                <span class="has-text-danger">
                  <span>-0.50</span>
                </span>
              </td>
              <td class="has-text-centered">
                <span class="has-text-info">
                  <span class="">16.50</span>
                  <br />
                  <span class="is-size-7 has-text-info has-background-warning">16.70</span>
                </span>
              </td>
            </tr>
            <tr>
              <th class="has-text-left">
                <span> เหล็กหนา </span><br />
                <span class="is-size-7 has-text-info has-background-warning">น้ำหนัก +2000
                  กก.</span>
              </th>
              <td class="has-text-centered">
                <span class="has-text-danger">
                  <span>-0.50</span>
                </span>
              </td>
              <td class="has-text-centered">
                <span class="has-text-info">
                  <span class="">16.50</span>
                  <br />
                  <span class="is-size-7 has-text-info has-background-warning">16.70</span>
                </span>
              </td>
            </tr>
            <tr>
              <th class="has-text-left">
                <span> เหล็กหนา </span><br />
                <span class="is-size-7 has-text-info has-background-warning">น้ำหนัก +2000
                  กก.</span>
              </th>
              <td class="has-text-centered">
                <span class="has-text-danger">
                  <span>-0.50</span>
                </span>
              </td>
              <td class="has-text-centered">
                <span class="has-text-info">
                  <span class="">16.50</span>
                  <br />
                  <span class="is-size-7 has-text-info has-background-warning">16.70</span>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
    <footer class="card-footer">
      <p class="card-footer-item">
        ปรับเปลี่ยน &nbsp;<strong>2 วันก่อน</strong>
      </p>
    </footer>
    <!-- <footer class="card-footer">
      <a class="card-footer-item">เงื่อนไขสินค้า</a>
      <a class="card-footer-item">ราคาย้อนหลัง</a>
    </footer> -->
  </div>
</section>
